<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>vue组件2</title>
		<style>

		</style>
	</head>

	<body>
		<div id="box">
			<aaa></aaa>
		</div>

		<script src="bower_components/vue/dist/vue.js"></script>
		<script src="../js/jquery.js"></script>
		<script>
			//定义vue组件
			var Aaa = Vue.extend({
				//data必须是数据
				data() {
					return {
						msg: "我是标题"
					}
				},
				methods:{
					change:function(){
						alert(1)
					}
				},
				template: "<h3 @click='change'>{{ msg }}</h3>"
			});

			Vue.component('aaa', Aaa)

			var vm = new Vue({
				el: "#box",
				data: {
					bSign: true
				},

			});
		</script>
	</body>

</html>